header{
    height: 80px;
    background-color:white;
    padding: 20px;
    font-size: 22px;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: row;  
    align-items: center;
    justify-content: space-between;
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    font-size: medium;
}
a{
    text-decoration: none;
    color:black;
    float:right;
    justify-content: space-between;
}
a:hover{
    color:#3A6762;
    text-decoration-line: underline;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
.logo{
    float: left;
    font-family: 'Times New Roman', Times, serif;
    object-fit: contain;
}
.foto{
    width: 75px;
}
.servicios{
    width: 300px;
    height: 400px;    
    float: right;

}
.Llogo{
    width: 200px;
    height: 200px;
}
body{
    height: 100%;
}
main{
    height: 70%;
    width: 100vw;
    background-color: #143330 ;
    background-size: cover;
    display:flex;
    flex-direction: row;  
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.pizzarra{
    text-align: center;
    color:white;
    padding: 10px 50px;
    font-family: 'Times New Roman', Times, serif;
}
.barra{
    float: right;
}
.barra a{
    text-decoration: none;
    color:white;
}
.barra ul li{
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.mapa{
    width: 400px;
    height: 400px;
}
.barra ul{
    list-style: none;
}
p{
    color:white;
}
footer{
    background-color:white ;
    color: black;
    text-align: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.derechos{
    color:black;
}
i{
    font-size: 20px;
    color: #143330;
}
.redes{
    font-size: 20px;
    color:#143330;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}